<div class="content">
    <div *ngIf="blogService.blogs.length">
        <h2>Blogs</h2>
        <div *ngFor="let blog of blogService.blogs" class="card">
            <mat-card>
                <mat-card-title class="spread">{{blog.header}} <span style="font-size: smaller;color: #737373;">Blog
                        #{{blog.id}}</span></mat-card-title>
                <mat-card-subtitle>
                    <div>Author : <u>{{blog.author}}</u></div>
                    <div class="detail-info">{{blog.views}} views.</div></mat-card-subtitle>
                <mat-card-content>
                    <div [innerText]="blog.text" class="innerContent"></div>
                    <div class="detail-info">{{blog.likes}} people liked.</div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary"
                        (click)="likeBlog(blog)">LIKE</button>
                    <button mat-raised-button color="accent">SHARE</button>
                    <button mat-raised-button color="accent" (click)="newComment(blog.id);">COMMENT</button>
                    <div *ngIf="blog.comments.enterNew??false">
                        <mat-form-field class="formstyle" appearance="fill">
                            <mat-label>Leave a comment</mat-label>
                            <textarea matInput placeholder="Yeah it was a good post or was it !?.." #commentInput></textarea>
                        </mat-form-field>
                        <div style="display:flex; justify-content:end;">
                            <button mat-raised-button color="warn"
                                (click)="onSubmitComment(blog.id,commentInput.value)">Send Your Comment</button>
                        </div>
                    </div>
                </mat-card-actions>
                <mat-card-footer>
                    <div *ngIf="(blog.comments.displayCount??0)>0" style="margin-left: 0.5rem;">
                        <mat-divider></mat-divider>
                        <div class="comment-header">Comments</div>
                        <div *ngFor="let comment of blog.comments.list | slice:0: blog.comments.displayCount??0">
                            <div><span class="text-primary">{{comment.writer}}</span> - {{comment.submitDate?formatThisDate(comment.submitDate,'dd/MM/yyyy HH:mm'):'Unknown date'}}</div>
                            <div style="margin-top: 0.5rem;margin-bottom: 0.2rem;">{{comment.text}}</div>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                    <div *ngIf="(blog.comments.list?.length??0) > (blog.comments.displayCount??0)">
                        <div (click)="openComment(blog.id);" class="read-comment noselect">Read
                            {{(blog.comments.list?.length??0) - (blog.comments.displayCount??0)}} Comments</div>
                    </div>
                    <mat-progress-bar *ngIf="blog.comments.loading" mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>